{% extends "main.html" %}
{% block title %}<h1>Our ArtWorks</h1>{% endblock title %}
{% block content %}
    <h1 style="text-align: end;">Our Artworks List:</h1>
    <ul style="margin: 100px;">
        {% for item in items %}
            <li style="width: 300px; display: flex; justify-content: space-between; margin: 20px; align-items: center;">
                <a href="{% url 'art_blog:data_details' item.pk %}">{{ item.name }} ({{ item.owner }})</a>
                <img src="{{MEDIA_URL}}/{{item.image}}" style="max-height: 80px;">
            </li>
        {% endfor %}
    </ul>
{% endblock content %}