{% extends "main.html" %}
{% block title %}
    <h1>'{{item.name}}'</h1>
    <h3>by {{item.owner}}</h3>
{% endblock title %}
{% block content %}
    <div style="display: flex; justify-content: space-evenly; align-items: center;">
        <div>
            <h1>Details for '{{item.name}}'</h1>
            <h2>Artist: {{ item.owner }}</h2>
            <p>size: {{ item.size.width }}cm * {{ item.size.height }}cm</p>
            <p>price: {{item.price}} €</p>
        </div>
        <div style="display: flex;">
            {% if user.is_authenticated %}
                <button style="margin: 20px;" type="submit" form="voteForm">
                    {% if item in user.voted_images.all %}
                        unVote
                    {% else %}
                        Vote
                    {% endif %}
                </button>
                <form id="voteForm" method="post" style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="vote" value="1">
                </form>
            {% endif %}
            {% if item.voters.all %}
                <p>Voters: {% for vote in item.voters.all %} {{vote.username}} {% endfor %}</p>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <button style="margin: 20px;">buy now</button>
        {% endif %}
    </div>
    <img src="{{MEDIA_URL}}/{{item.image}}">
    {%if comments %}
    <h4>user comments:</h4>
    {% endif %}
    {% for comment in  comments %}
        <p>{{comment}}</p>
    {% endfor %}
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="post comment">
    </form>
    {% endif %}
{% endblock content %}
