{% extends "main.html" %}
{% block title %}
    <h1>'{{item.name}}'</h1>
    <h3>by {{item.owner}}</h3>
{% endblock title %}
{% block content %}
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h1>Details for '{{item.name}}'</h1>
            <h2>Artist: {{ item.owner }}</h2>
        </div>
        <button style="margin: 20px;">buy now</button>
    </div>
    <p>size: {{ item.size.width }}cm * {{ item.size.height }}cm</p>
    <p>price: {{item.price}} €</p>
    <img src="{{MEDIA_URL}}/{{item.image}}">
    {%if comments %}
    <h4>user comments:</h4>
    {% endif %}
    {% for comment in  comments %}
        <p>{{comment}}</p>
    {% endfor %}
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="post comment">
    </form>
    {% endif %}
{% endblock content %}